* {
	margin: 0;
	padding: 0;
}

.Container {
	margin: 0;
	width: 100%;
}

.List {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.Card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid gray;
	padding: 10px;
	margin: 5px;
}

.Card h1 {
	text-transform: capitalize;
	margin-bottom: 25px;
}

.Card p {
	margin-bottom: 25px;
}

.Card button {
	padding: 5px 10px;
}